body{
    background-color: rgb(57, 79, 47);
}

header{background-color: black;
    color: whitesmoke;
min-height: 100px;
padding-top: 5px;
border-radius: 25px 25px 25px 25px;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;}

.flexFull{flex-basis: 100%;
flex-flow: row wrap;}

.flexFifty{flex-basis: 50%;
flex-flow: row wrap;}

.flexFiftyBreak{flex-basis: 25%;
flex-flow: row wrap;}

aside{display:flex;
    flex-basis:100%;
    flex-flow: column;
    background-color: rgb(101, 170, 36);
    min-height: 100px;
    
    border-radius: 20px 20px 0px 0px;
    border-right: 0px solid rgb(59, 59, 7);
}

main{flex-basis: 100%;
    flex-flow: row wrap;
background-color: olivedrab;
min-height: 300px;}

.card{
width:125px;
height: 75px;
line-height: 65px;
font-size: small;
font-weight: 700;
background-color: peachpuff;
flex-basis: row wrap;
margin:5px auto;
border: 5px solid black;
border-radius: 15px 15px 15px 15px;
text-align: center;
}

.flexBox{display: flex;
flex-flow: row wrap;
justify-content: space-evenly;}

.flexChild{flex-basis: 100%;}

.textCenter{
    text-align: center;
}
.textXl{
    font-size: x-large;
    line-height: 90px;
}

.cpuName{
    flex-basis: 20%;
    flex-flow: row wrap;
    padding-top: 15px;
}
.minHeight{
    height: 100px;
}
.flexCards{
    flex-basis: 80%;
    flex-flow: row wrap;
    min-height: 100px;
}
button{
    font-weight: 700;
    background-color: rgb(235, 199, 168);
    border-radius: 10px 10px 10px 10px;
    margin: 5px auto;
    padding: 10px;
    width: 120px;
}
.hideBtn{
    display: none;
}
.bgGreen{
    background-color: yellowgreen;
}
.bgPeach{
    background-color: rgb(235, 199, 168);
}
#infoBox{
    border-top: 4px solid rgb(59, 59, 7);
    border-bottom: 4px solid rgb(59, 59, 7);
    max-height: 60px;
}
.gameFrame{
    border: 5px solid rgb(59, 59, 7);
    border-radius: 25px 25px 25px 25px;
    margin: 5px;
    font-weight: 500;
}
.allCards{
    border-radius: 0px 0px 20px 20px;
}
.playerCards{
    border-radius: 0px 0px 20px 20px;
}

@media (min-width: 666px) {
    .minHeight{
        height: 100px;
    }
    .allCards{
        border-radius: 0px 20px 20px 0px;
    }
    .playerCards{
        border-radius: 0px 0px 20px 0px;
    }
    aside{flex-basis: 20%;
        border-radius: 20px 0px 0px 20px;
        border-right: 3px solid rgb(59, 59, 7);}
    main{flex-basis: 80%;}
    .flexFiftyBreak{flex-basis: 25%;}
    .flexChild{flex-basis: 32%;}
    .card{
        height: 200px;
        line-height: 200px;
        margin:15px auto;}
    header{
        line-height: 85px;
        }
    .cpuName{
        padding-top: 105px;
    }
}