
header{background-color: black;
    color: whitesmoke;
min-height: 100px;
padding-top: 50px;}

.flexFull{flex-basis: 100%;
flex-flow: row wrap;}

.flexFifty{flex-basis: 50%;
flex-flow: row wrap;}

.flexFiftyBreak{flex-basis: 25%;
flex-flow: row wrap;}

aside{display:flex;
    flex-basis:100%;
    flex-flow: row wrap;
    background-color: rgb(101, 170, 36);
    min-height: 100px;
    padding-top: 10px;
}

main{flex-basis: 100%;
    flex-flow: row wrap;
background-color: olivedrab;
min-height: 500px;}

.card{
width:125px;
height: 75px;
line-height: 75px;
background-color: peachpuff;
flex-basis: row wrap;
margin:15px auto;
border: 5px solid black;
border-radius: 15px 15px 15px 15px;
text-align: center;
}

.flexBox{display: flex;
flex-flow: row wrap;
justify-content: space-evenly;}

.flexChild{flex-basis: 100%;}

.textCenter{
    text-align: center;
}
.textXl{
    font-size: x-large;
}

.cpuName{
    flex-basis: 20%;
    flex-flow: row wrap;
    padding-top: 110px;
}

.flexCards{
    flex-basis: 80%;
    flex-flow: row wrap;
    min-height: 250px;
}
button{
    font-weight: 700;
    background-color: rgb(235, 199, 168);
    border-radius: 10px 10px 10px 10px;
    margin: 5px auto;
    padding: 10px;
}
.hideBtn{
    display: none;
}
.bgGreen{
    background-color: yellowgreen;
}

@media (min-width: 666px) {
    aside{flex-basis: 20%;}
    main{flex-basis: 80%;}
    .flexFiftyBreak{flex-basis: 25%;}
    .flexChild{flex-basis: 32%;}
    .card{
        height: 200px;
        line-height: 200px;}
}